:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a; /* Dark color may not stand out on a gray background */
  cursor: pointer;
  transition: all 0.25s ease; /* Using 'all' to include background-color and box-shadow transitions */
  color: #fff; /* Ensuring text is white for better contrast on dark backgrounds */
}

.button-highlight {
  background-color: #242424; 
  color: #fff; /* White text for contrast */
  /* border: 1px solid #ff4e17; Vibrant orange border */
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s, box-shadow 0.25s, border-color 0.25s; /* Smooth transitions for multiple properties */
}

.button-highlight:hover, .button-highlight:focus {
  /* background-color: rgba(255, 78, 23, 0.1); Slight tint on hover/focus for feedback */
  box-shadow: 0 0 1px 1px #ff4e17; /* Glowing effect on hover/focus */
  border-color: #ff4e17; /* Maintain or enhance border color on hover/focus */
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}